In [ ]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split, GridSearchCV

from sklearn.ensemble import GradientBoostingClassifier

In [136]:
df = pd.read_csv("train_transaction.csv")
df.shape

In [ ]:
df.head(20)

In [ ]:
labels = df["isFraud"]

del df["isFraud"]

In [ ]:
len(labels)

### Data Wranglingn for Transactions

In [ ]:
#df.columns.tolist()

In [ ]:
# TransactionDT
#df.TransactionDT.isna().sum()

df["DTSec"] = df.TransactionDT % 60
df["DTMin"] = (df.TransactionDT % 3600) // 60
df["DTHour"] = (df.TransactionDT % 86400) // 3600
df["DTDow"] = (df.TransactionDT % 604800) // 86400

del df['TransactionDT']

In [ ]:
# TransactionAmt
#df.TransactionAmt.isna().sum()
# No changes at the beginning

In [ ]:
# ProductCD
#df.ProductCD.isna().sum()
#df.ProductCD.value_counts()

df = pd.get_dummies(df, columns=['ProductCD'], prefix='ProductCD')

In [ ]:
# card1
#df.card1.isna().sum()
# No changes at the beginning

In [ ]:
# card2
#df.card2.isna().sum()
#df.card2.min()

df["card2_nan"] = df.card2.isna().astype(int)
df.card2.fillna(0.0, inplace=True)

In [ ]:
# card3
#df.card3.isna().sum()
#df.card3.min()

df["card3_nan"] = df.card3.isna().astype(int)
df.card3.fillna(0.0, inplace=True)

In [ ]:
# card4
#df.card4.isna().sum()

df = pd.get_dummies(df, columns=['card4'], prefix='card4', dummy_na=True)

In [ ]:
# card5
#df.card5.isna().sum()
#df.card5.min()

df["card5_nan"] = df.card5.isna().astype(int)
df.card5.fillna(0.0, inplace=True)

In [ ]:
# card6
#df.card6.isna().sum()

df = pd.get_dummies(df, columns=['card6'], prefix='card6', dummy_na=True)

In [ ]:
# addr1
#df.addr1.isna().sum()

df["addr1_nan"] = df.addr1.isna().astype(int)
df.addr1.fillna(0.0, inplace=True)

In [ ]:
# addr2
#df.addr2.isna().sum()
#df.addr2.value_counts()
#df.addr2.min()

df["addr2_nan"] = df.addr2.isna().astype(int)
df.addr2.fillna(0.0, inplace=True)

In [ ]:
# dist1
#df.dist1

df["dist1_nan"] = df.dist1.isna().astype(int)
df.dist1.fillna(-1.0, inplace=True)

In [ ]:
# dist2
#df.dist2.min()

df["dist2_nan"] = df.dist2.isna().astype(int)
df.dist2.fillna(-1.0, inplace=True)

In [ ]:
# P_emaildomain
#df.P_emaildomain

df = pd.get_dummies(df, columns=['P_emaildomain'], prefix='P_emaildomain', dummy_na=True)

In [ ]:
# R_emaildomain
#df.R_emaildomain

df = pd.get_dummies(df, columns=['R_emaildomain'], prefix='R_emaildomain', dummy_na=True)

In [ ]:
# C1
#df.C1.isna().sum()
# No changes

In [ ]:
# C2
#df.C2.isna().sum()
# No changes

In [ ]:
# C3
#df.C3.isna().sum()
#df.C3.value_counts()
# No changes

In [ ]:
# C4
#df.C4.isna().sum()
#df.C4.value_counts()
# No changes

In [ ]:
# C5
#df.C5.isna().sum()
#df.C5.value_counts()
# No changes

In [ ]:
# C6
#df.C6
#df.C6.isna().sum()
#df.C6.value_counts()
# No changes

In [ ]:
# C7
#df.C7
#df.C7.isna().sum()
#df.C7.value_counts()
# No changes

In [ ]:
# C8
#df.C8
#df.C8.isna().sum()
#df.C8.value_counts()
# No changes

In [ ]:
# C9
#df.C9
#df.C9.isna().sum()
#df.C9.value_counts()
# No changes

In [ ]:
# C10
#df.C10
#df.C10.isna().sum()
#df.C10.value_counts()
# No changes

In [ ]:
# C11
#df.C11
#df.C11.isna().sum()
#df.C11.value_counts()
# No changes

In [ ]:
# C12
#df.C12
#df.C12.isna().sum()
#df.C12.value_counts()
# No changes

In [ ]:
# C13
#df.C13
#df.C13.isna().sum()
#df.C13.value_counts()
# No changes

In [ ]:
# C14
#df.C14
#df.C14.isna().sum()
#df.C14.value_counts()
# No changes

In [ ]:
# D1
#df.D1
#df.D1.isna().sum()

df["D1_nan"] = df.D1.isna().astype(int)
df.D1.fillna(-1.0, inplace=True)

In [ ]:
# D2
#df.D2
#df.D2.min()

df["D2_nan"] = df.D2.isna().astype(int)
df.D2.fillna(-1.0, inplace=True)

In [ ]:
# D3
#df.D3

df["D3_nan"] = df.D3.isna().astype(int)
df.D3.fillna(-1.0, inplace=True)

In [ ]:
# D4
#df.D4

df["D4_nan"] = df.D4.isna().astype(int)
df.D4.fillna(-1.0, inplace=True)

In [ ]:
# D5
#df.D5

df["D5_nan"] = df.D5.isna().astype(int)
df.D5.fillna(-1.0, inplace=True)

In [ ]:
# D6
#df.D6
#df.D6.value_counts()

df["D6_nan"] = df.D6.isna().astype(int)
df.D6.fillna(-1.0, inplace=True)

In [ ]:
# D7
#df.D7
#df.D7.value_counts()

df["D7_nan"] = df.D7.isna().astype(int)
df.D7.fillna(-1.0, inplace=True)

In [ ]:
# D8
#df.D8
#df.D8.value_counts()

df["D8_nan"] = df.D8.isna().astype(int)
df.D8.fillna(-1.0, inplace=True)

In [ ]:
# D9
#df.D9
#df.D9.value_counts()

df["D9_nan"] = df.D9.isna().astype(int)
df.D9.fillna(-1.0, inplace=True)

In [ ]:
# D10
#df.D10

df["D10_nan"] = df.D10.isna().astype(int)
df.D10.fillna(-1.0, inplace=True)

In [ ]:
# D11
#df.D11

df["D11_nan"] = df.D11.isna().astype(int)
df.D11.fillna(-1.0, inplace=True)

In [ ]:
# D12
#df.D12
#df.D12.value_counts()

df["D12_nan"] = df.D12.isna().astype(int)
df.D12.fillna(-1.0, inplace=True)

In [ ]:
# D13
#df.D13
#df.D13.value_counts()

df["D13_nan"] = df.D13.isna().astype(int)
df.D13.fillna(-1.0, inplace=True)

In [ ]:
# D14
#df.D14
#df.D14.value_counts()

df["D14_nan"] = df.D14.isna().astype(int)
df.D14.fillna(-1.0, inplace=True)

In [ ]:
# D15
#df.D15

df["D15_nan"] = df.D15.isna().astype(int)
df.D15.fillna(-1.0, inplace=True)

In [ ]:
# M1
#df.M1
#df.M1.value_counts()

df = pd.get_dummies(df, columns=['M1'], prefix='M1', dummy_na=True)

In [ ]:
# M2
#df.M2
#df.M2.value_counts()

df = pd.get_dummies(df, columns=['M2'], prefix='M2', dummy_na=True)

In [ ]:
# M3
#df.M3

df = pd.get_dummies(df, columns=['M3'], prefix='M3', dummy_na=True)

In [ ]:
# M4
#df.M4
#df.M4.value_counts()

df = pd.get_dummies(df, columns=['M4'], prefix='M4', dummy_na=True)

In [ ]:
# M5
#df.M5

df = pd.get_dummies(df, columns=['M5'], prefix='M5', dummy_na=True)

In [ ]:
# M6
#df.M6

df = pd.get_dummies(df, columns=['M6'], prefix='M6', dummy_na=True)

In [ ]:
# M7
#df.M7

df = pd.get_dummies(df, columns=['M7'], prefix='M7', dummy_na=True)

In [ ]:
# M8
#df.M8

df = pd.get_dummies(df, columns=['M8'], prefix='M8', dummy_na=True)

In [ ]:
# M9
#df.M9

df = pd.get_dummies(df, columns=['M9'], prefix='M9', dummy_na=True)

In [ ]:
#
# Process all V-columns at once
#

MAX_AMOUNT_OF_UNIQUE = 16

for i in range(1, 340):
    col = "V" + str(i)
    
    if (len(df[col].value_counts()) > MAX_AMOUNT_OF_UNIQUE):
        df[col + "_nan"] = df[col].isna().astype(int)
        df[col].fillna(-1.0, inplace=True)
    else:
        df = pd.get_dummies(df, columns=[col], prefix=col, dummy_na=True)

### Load Identities

In [140]:
ids = pd.read_csv("train_identity.csv")
ids.shape

(144233, 41)

In [135]:
ids.head()

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo,id_21_nan
0,2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M,1
1,2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,NaN,...,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device,1
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,F,F,T,T,desktop,Windows,1
3,2987011,-5.0,221832.0,NaN,NaN,0.0,-6.0,NaN,NaN,NaN,...,NaN,NaN,NaN,F,F,T,T,desktop,NaN,1
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,...,24.0,1280x800,match_status:2,T,F,T,T,desktop,MacOS,1

### Data Wrangling for Identities

In [ ]:
# id_01
#ids.id_01.isna().sum()
#ids.id_01.value_counts()
# No changes

In [ ]:
# id_02
#ids.id_02.isna().sum()
#ids.id_02.max()

ids["id_02" + "_nan"] = ids["id_02"].isna().astype(int)
ids["id_02"].fillna(0.0, inplace=True)

In [ ]:
# id_03
#ids.id_03.isna().sum()
#ids.id_03.value_counts()

ids = pd.get_dummies(ids, columns=['id_03'], prefix='id_03', dummy_na=True)

In [ ]:
# id_04
#ids.id_04.isna().sum()
#ids.id_04.value_counts()

ids = pd.get_dummies(ids, columns=['id_04'], prefix='id_04', dummy_na=True)

In [ ]:
# id_05
#ids.id_05.isna().sum()
#ids.id_05.value_counts()

ids["id_05" + "_nan"] = ids["id_05"].isna().astype(int)
ids["id_05"].fillna(100.0, inplace=True)

In [ ]:
# id_06
#ids.id_06.isna().sum()
#ids.id_06.value_counts()

ids["id_06" + "_nan"] = ids["id_06"].isna().astype(int)
ids["id_06"].fillna(100.0, inplace=True)

In [ ]:
# id_07
#ids.id_07.isna().sum()
#ids.id_07.value_counts()
#ids.id_07.min()

ids["id_07" + "_nan"] = ids["id_07"].isna().astype(int)
ids["id_07"].fillna(100.0, inplace=True)

In [ ]:
# id_08
#ids.id_08.isna().sum()
#ids.id_08.value_counts()
#ids.id_08.max()

ids["id_08" + "_nan"] = ids["id_08"].isna().astype(int)
ids["id_08"].fillna(100.0, inplace=True)

In [ ]:
# id_09
#ids.id_09.isna().sum()
#ids.id_09.value_counts()

ids["id_09" + "_nan"] = ids["id_09"].isna().astype(int)
ids["id_09"].fillna(100.0, inplace=True)

In [ ]:
# id_10
#ids.id_10.isna().sum()
#ids.id_10.value_counts()

ids["id_10" + "_nan"] = ids["id_10"].isna().astype(int)
ids["id_10"].fillna(100.0, inplace=True)

In [ ]:
# id_11
#ids.id_11.isna().sum()
#ids.id_11.value_counts()
#ids.id_11.min()

ids["id_11" + "_nan"] = ids["id_11"].isna().astype(int)
ids["id_11"].fillna(0.0, inplace=True)

In [ ]:
# id_12
#ids.id_12.isna().sum()
#ids.id_12.value_counts()

ids = pd.get_dummies(ids, columns=['id_12'], prefix='id_12', dummy_na=True)

In [ ]:
# id_13
#ids.id_13.isna().sum()
#ids.id_13.value_counts()

ids["id_13" + "_nan"] = ids["id_13"].isna().astype(int)
ids["id_13"].fillna(100.0, inplace=True)

In [ ]:
# id_14
#ids.id_14.isna().sum()
#ids.id_14.value_counts()

ids = pd.get_dummies(ids, columns=['id_14'], prefix='id_14', dummy_na=True)

In [ ]:
# id_15
#ids.id_15.isna().sum()
#ids.id_15.value_counts()

ids = pd.get_dummies(ids, columns=['id_15'], prefix='id_15', dummy_na=True)

In [ ]:
# id_16
#ids.id_16.isna().sum()
#ids.id_16.value_counts()

ids = pd.get_dummies(ids, columns=['id_16'], prefix='id_16', dummy_na=True)

In [ ]:
# id_17
#ids.id_17.isna().sum()
#ids.id_17.value_counts()
#ids.id_17.min()

ids["id_17" + "_nan"] = ids["id_17"].isna().astype(int)
ids["id_17"].fillna(0.0, inplace=True)

In [ ]:
# id_18
#ids.id_18.isna().sum()
#ids.id_18.value_counts()

ids = pd.get_dummies(ids, columns=['id_18'], prefix='id_18', dummy_na=True)

In [ ]:
# id_19
#ids.id_19.isna().sum()
#ids.id_19.value_counts()
#ids.id_19.min()

ids["id_19" + "_nan"] = ids["id_19"].isna().astype(int)
ids["id_19"].fillna(0.0, inplace=True)

In [ ]:
# id_20
#ids.id_20.isna().sum()
#ids.id_20.value_counts()
#ids.id_20.min()

ids["id_20" + "_nan"] = ids["id_20"].isna().astype(int)
ids["id_20"].fillna(0.0, inplace=True)

In [ ]:
# id_21
#ids.id_21.isna().sum()
#ids.id_21.value_counts()
#ids.id_21.min()

ids["id_21" + "_nan"] = ids["id_21"].isna().astype(int)
ids["id_21"].fillna(0.0, inplace=True)

In [ ]:
# id_22
#ids.id_22.isna().sum()
#ids.id_22.value_counts()

ids = pd.get_dummies(ids, columns=['id_22'], prefix='id_22', dummy_na=True)

In [ ]:
# id_23
#ids.id_23.isna().sum()
#ids.id_23.value_counts()

ids = pd.get_dummies(ids, columns=['id_23'], prefix='id_23', dummy_na=True)

In [ ]:
# id_24
#ids.id_24.isna().sum()
#ids.id_24.value_counts()

ids = pd.get_dummies(ids, columns=['id_24'], prefix='id_24', dummy_na=True)

In [ ]:
# id_25
#ids.id_25.isna().sum()
#ids.id_25.value_counts()
#ids.id_25.min()

ids["id_25" + "_nan"] = ids["id_25"].isna().astype(int)
ids["id_25"].fillna(0.0, inplace=True)

In [ ]:
# id_26
#ids.id_26.isna().sum()
#ids.id_26.value_counts()
#ids.id_26.min()

ids["id_26" + "_nan"] = ids["id_26"].isna().astype(int)
ids["id_26"].fillna(0.0, inplace=True)

In [ ]:
# id_27
#ids.id_27.isna().sum()
#ids.id_27.value_counts()

ids = pd.get_dummies(ids, columns=['id_27'], prefix='id_27', dummy_na=True)

In [ ]:
# id_28
#ids.id_28.isna().sum()
#ids.id_28.value_counts()

ids = pd.get_dummies(ids, columns=['id_28'], prefix='id_28', dummy_na=True)

In [ ]:
# id_29
#ids.id_29.isna().sum()
#ids.id_29.value_counts()

ids = pd.get_dummies(ids, columns=['id_29'], prefix='id_29', dummy_na=True)

In [ ]:
# id_30
#ids.id_30.isna().sum()
#ids.id_30.value_counts()

ids["id_30"].fillna("Missing", inplace=True)
ids["OS_Type"] = ids.id_30.str.split(" ").map(lambda x: x[0])

ids = pd.get_dummies(ids, columns=['id_30'], prefix='id_30', dummy_na=True)
ids = pd.get_dummies(ids, columns=['OS_Type'], prefix='OS_Type', dummy_na=True)

In [ ]:
# id_31
#ids.id_31.isna().sum()
#list(ids.id_31.value_counts().index)

ids["id_31"].fillna("Missing", inplace=True)

browser_type = []

for i in range(ids.shape[0]):
    browser = ids.loc[i, "id_31"].lower()
    
    if ("chrome" in browser):
        browser_type.append("chrome")
    elif("safari" in browser):
        browser_type.append("safari")
    elif("ie" in browser):
        browser_type.append("ie")    
    elif("safari" in browser):
        browser_type.append("safari")
    elif("firefox" in browser):
        browser_type.append("firefox")      
    elif("samsung" in browser):
        browser_type.append("samsung")   
    elif("edge" in browser):
        browser_type.append("edge")   
    elif("webview" in browser):
        browser_type.append("webview") 
    elif("opera" in browser):
        browser_type.append("opera")         
    elif("search" in browser):
        browser_type.append("search")     
    elif("microsoft" in browser):
        browser_type.append("microsoft") 
    else:
        browser_type.append(browser)
        
ids = pd.get_dummies(ids, columns=['id_31'], prefix='id_31', dummy_na=True)
ids['Browser_Type'] = browser_type

In [ ]:
# id_32
#ids.id_32.isna().sum()
#ids.id_32.value_counts()

ids = pd.get_dummies(ids, columns=['id_32'], prefix='id_32', dummy_na=True)

In [ ]:
# id_33
#ids.id_33.isna().sum()
#ids.id_33.value_counts()

ids = pd.get_dummies(ids, columns=['id_33'], prefix='id_33', dummy_na=True)

In [125]:
# id_34
#ids.id_34.isna().sum()
#ids.id_34.value_counts()

ids = pd.get_dummies(ids, columns=['id_34'], prefix='id_34', dummy_na=True)

match_status:2     60011
match_status:1     17376
match_status:0       415
match_status:-1        3
Name: id_34, dtype: int64

In [127]:
# id_35
#ids.id_35.isna().sum()
#ids.id_35.value_counts()

ids = pd.get_dummies(ids, columns=['id_35'], prefix='id_35', dummy_na=True)

T    77814
F    63171
Name: id_35, dtype: int64

In [129]:
# id_36
#ids.id_36.isna().sum()
#ids.id_36.value_counts()

ids = pd.get_dummies(ids, columns=['id_36'], prefix='id_36', dummy_na=True)

F    134066
T      6919
Name: id_36, dtype: int64

In [131]:
# id_37
#ids.id_37.isna().sum()
#ids.id_37.value_counts()

ids = pd.get_dummies(ids, columns=['id_37'], prefix='id_37', dummy_na=True)

T    110452
F     30533
Name: id_37, dtype: int64

In [133]:
# id_38
#ids.id_38.isna().sum()
#ids.id_38.value_counts()

ids = pd.get_dummies(ids, columns=['id_38'], prefix='id_38', dummy_na=True)

F    73922
T    67063
Name: id_38, dtype: int64

### Merge Identities and Transactions

In [142]:
data = pd.merge(df, ids, on="TransactionID", how="left")
data.shape

(590540, 434)

In [143]:
data.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M

In [ ]:
del data["TransactionID"]

In [146]:
ids.id_01.isna().sum()

0

In [147]:
data.id_01.isna().sum()

446307

#### not clear yet what to do after merge.
#### only 145K rows will be full
#### let's first look at the performance on the Transactions set without Identities

### Split to Train and Test Sets

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df, labels, stratify=labels, test_size=0.3, random_state=8)

### Gradient Boosting Classifier

In [ ]:
%%time
#
# Gradient Boosting Machine
#
GBR = GradientBoostingRegressor(random_state=8)

parameters_grid = {
    "n_estimators": [350, 400, 450],
    "min_samples_split": [2, 3, 4],
    "min_samples_leaf": [1, 2, 3, 4]
}

gcv = GridSearchCV(GBR, parameters_grid, scoring='neg_mean_squared_error')
gcv.fit(features_train, labels_train)
GBR = gcv.best_estimator_
print(GBR)
print("GBR Score:", gcv.best_score_)