In [28]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv("train_transaction.csv")

In [30]:
df.head(20)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.500,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.000,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.000,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.000,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.000,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2987005,0,86510,49.000,W,5937,555.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2987006,0,86522,159.000,W,12308,360.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2987007,0,86529,422.500,W,12695,490.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2987008,0,86535,15.000,H,2803,100.0,150.0,visa,226.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2987009,0,86536,117.000,W,17399,111.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2987010,0,86549,75.887,C,16496,352.0,117.0,mastercard,134.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2987011,0,86555,16.495,C,4461,375.0,185.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2987012,0,86564,50.000,W,3786,418.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2987013,0,86585,40.000,W,12866,303.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2987014,0,86596,10.500,W,11839,490.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2987015,0,86618,57.950,W,7055,555.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2987016,0,86620,30.000,H,1790,555.0,150.0,visa,226.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,2987017,0,86668,100.000,H,11492,111.0,150.0,mastercard,219.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2987018,0,86725,47.950,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2987019,0,86730,186.000,W,7005,111.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
del df["TransactionID"]

labels = df["isFraud"]

del df["isFraud"]

In [32]:
len(labels)

590540

### Data Wrangling

In [33]:
#df.columns.tolist()

In [34]:
# TransactionDT
#df.TransactionDT.isna().sum()

df["DTSec"] = df.TransactionDT % 60
df["DTMin"] = (df.TransactionDT % 3600) // 60
df["DTHour"] = (df.TransactionDT % 86400) // 3600
df["DTDow"] = (df.TransactionDT % 604800) // 86400

del df['TransactionDT']

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  after removing the cwd from sys.path.
D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """
D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  import sys

In [35]:
# TransactionAmt
#df.TransactionAmt.isna().sum()
# No changes at the beginning

In [36]:
# ProductCD
#df.ProductCD.isna().sum()
#df.ProductCD.value_counts()

df = pd.get_dummies(df, columns=['ProductCD'], prefix='ProductCD')

In [37]:
# card1
#df.card1.isna().sum()
# No changes at the beginning

In [38]:
# card2
#df.card2.isna().sum()
#df.card2.min()

df["card2_nan"] = df.card2.isna().astype(int)
df.card2.fillna(0.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """

In [39]:
# card3
#df.card3.isna().sum()
#df.card3.min()

df["card3_nan"] = df.card3.isna().astype(int)
df.card3.fillna(0.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """

In [40]:
# card4
#df.card4.isna().sum()

df = pd.get_dummies(df, columns=['card4'], prefix='card4', dummy_na=True)

In [41]:
# card5
#df.card5.isna().sum()
#df.card5.min()

df["card5_nan"] = df.card5.isna().astype(int)
df.card5.fillna(0.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """

In [42]:
# card6
#df.card6.isna().sum()

df = pd.get_dummies(df, columns=['card6'], prefix='card6', dummy_na=True)

In [43]:
# addr1
#df.addr1.isna().sum()

df["addr1_nan"] = df.addr1.isna().astype(int)
df.addr1.fillna(0.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  after removing the cwd from sys.path.

In [44]:
# addr2
#df.addr2.isna().sum()
#df.addr2.value_counts()
#df.addr2.min()

df["addr2_nan"] = df.addr2.isna().astype(int)
df.addr2.fillna(0.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [45]:
# dist1
#df.dist1

df["dist1_nan"] = df.dist1.isna().astype(int)
df.dist1.fillna(-1.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  after removing the cwd from sys.path.

In [46]:
# dist2
#df.dist2.min()

df["dist2_nan"] = df.dist2.isna().astype(int)
df.dist2.fillna(-1.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  after removing the cwd from sys.path.

In [47]:
# P_emaildomain
#df.P_emaildomain

df = pd.get_dummies(df, columns=['P_emaildomain'], prefix='P_emaildomain', dummy_na=True)

In [48]:
# R_emaildomain
#df.R_emaildomain

df = pd.get_dummies(df, columns=['R_emaildomain'], prefix='R_emaildomain', dummy_na=True)

In [49]:
# C1
#df.C1.isna().sum()
# No changes

In [50]:
# C2
#df.C2.isna().sum()
# No changes

In [51]:
# C3
#df.C3.isna().sum()
#df.C3.value_counts()
# No changes

In [52]:
# C4
#df.C4.isna().sum()
#df.C4.value_counts()
# No changes

In [53]:
# C5
#df.C5.isna().sum()
#df.C5.value_counts()
# No changes

In [54]:
# C6
#df.C6
#df.C6.isna().sum()
#df.C6.value_counts()
# No changes

In [55]:
# C7
#df.C7
#df.C7.isna().sum()
#df.C7.value_counts()
# No changes

In [56]:
# C8
#df.C8
#df.C8.isna().sum()
#df.C8.value_counts()
# No changes

In [57]:
# C9
#df.C9
#df.C9.isna().sum()
#df.C9.value_counts()
# No changes

In [58]:
# C10
#df.C10
#df.C10.isna().sum()
#df.C10.value_counts()
# No changes

In [59]:
# C11
#df.C11
#df.C11.isna().sum()
#df.C11.value_counts()
# No changes

In [60]:
# C12
#df.C12
#df.C12.isna().sum()
#df.C12.value_counts()
# No changes

In [61]:
# C13
#df.C13
#df.C13.isna().sum()
#df.C13.value_counts()
# No changes

In [62]:
# C14
#df.C14
#df.C14.isna().sum()
#df.C14.value_counts()
# No changes

In [63]:
# D1
#df.D1
#df.D1.isna().sum()

df["D1_nan"] = df.D1.isna().astype(int)
df.D1.fillna(-1.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """

In [64]:
# D2
#df.D2
#df.D2.min()

df["D2_nan"] = df.D2.isna().astype(int)
df.D2.fillna(-1.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """

In [65]:
# D3
#df.D3

df["D3_nan"] = df.D3.isna().astype(int)
df.D3.fillna(-1.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  after removing the cwd from sys.path.

In [66]:
# D4
#df.D4

df["D4_nan"] = df.D4.isna().astype(int)
df.D4.fillna(-1.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  after removing the cwd from sys.path.

In [67]:
# D5
#df.D5

df["D5_nan"] = df.D5.isna().astype(int)
df.D5.fillna(-1.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  after removing the cwd from sys.path.

In [68]:
# D6
#df.D6
#df.D6.value_counts()

df["D6_nan"] = df.D6.isna().astype(int)
df.D6.fillna(-1.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """

In [69]:
# D7
#df.D7
#df.D7.value_counts()

df["D7_nan"] = df.D7.isna().astype(int)
df.D7.fillna(-1.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """

In [70]:
# D8
#df.D8
#df.D8.value_counts()

df["D8_nan"] = df.D8.isna().astype(int)
df.D8.fillna(-1.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """

In [71]:
# D9
#df.D9
#df.D9.value_counts()

df["D9_nan"] = df.D9.isna().astype(int)
df.D9.fillna(-1.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """

In [72]:
# D10
#df.D10

df["D10_nan"] = df.D10.isna().astype(int)
df.D10.fillna(-1.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  after removing the cwd from sys.path.

In [73]:
# D11
#df.D11

df["D11_nan"] = df.D11.isna().astype(int)
df.D11.fillna(-1.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  after removing the cwd from sys.path.

In [74]:
# D12
#df.D12
#df.D12.value_counts()

df["D12_nan"] = df.D12.isna().astype(int)
df.D12.fillna(-1.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """

In [75]:
# D13
#df.D13
#df.D13.value_counts()

df["D13_nan"] = df.D13.isna().astype(int)
df.D13.fillna(-1.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """

In [76]:
# D14
#df.D14
#df.D14.value_counts()

df["D14_nan"] = df.D14.isna().astype(int)
df.D14.fillna(-1.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """

In [77]:
# D15
#df.D15

df["D15_nan"] = df.D15.isna().astype(int)
df.D15.fillna(-1.0, inplace=True)

D:\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  after removing the cwd from sys.path.

In [78]:
# M1
#df.M1
#df.M1.value_counts()

df = pd.get_dummies(df, columns=['M1'], prefix='M1', dummy_na=True)

In [79]:
# M2
#df.M2
#df.M2.value_counts()

df = pd.get_dummies(df, columns=['M2'], prefix='M2', dummy_na=True)

In [80]:
# M3
#df.M3

df = pd.get_dummies(df, columns=['M3'], prefix='M3', dummy_na=True)

In [81]:
# M4
#df.M4
#df.M4.value_counts()

df = pd.get_dummies(df, columns=['M4'], prefix='M4', dummy_na=True)

In [82]:
# M5
#df.M5

df = pd.get_dummies(df, columns=['M5'], prefix='M5', dummy_na=True)

In [83]:
# M6
#df.M6

df = pd.get_dummies(df, columns=['M6'], prefix='M6', dummy_na=True)

In [84]:
# M7
#df.M7

df = pd.get_dummies(df, columns=['M7'], prefix='M7', dummy_na=True)

In [85]:
# M8
#df.M8

df = pd.get_dummies(df, columns=['M8'], prefix='M8', dummy_na=True)

In [86]:
# M9
#df.M9

df = pd.get_dummies(df, columns=['M9'], prefix='M9', dummy_na=True)

In [87]:
#
# Process all V-columns at once
#

MAX_AMOUNT_OF_UNIQUE = 16

for i in range(1, 340):
    col = "V" + str(i)
    
    if (len(df[col].value_counts()) > MAX_AMOUNT_OF_UNIQUE):
        df[col + "_nan"] = df[col].isna().astype(int)
        df[col].fillna(-1.0, inplace=True)
    else:
        df = pd.get_dummies(df, columns=[col], prefix=col, dummy_na=True)

In [90]:
labels.value_counts()

0    569877
1     20663
Name: isFraud, dtype: int64